.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.clear::after {
  content: "";
  display: table;
  clear: both;
}

.heading-h1 {
  max-width: 80%;
}

@media only screen and (min-width: 640px) {
  .heading-h1 {
    padding: .1em .1em .1em 2em;
    float: none;
  }
